.featuretteContainer {
  padding: 100px 180px;
  margin: 0 auto;
}

.greasyStatement {
  font-family: "Lato", sans-serif;
  font-size: 4rem;
  letter-spacing: 0.04em;
  font-weight: bold;
  text-align: center;
}

.boldStatement {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.FeaturetteButton {
  text-align: center;
  color: white;
  width: 140px;
  background-color: crimson;
  border-radius: 63px;
  margin: 0 auto;
}
.FeaturetteButton:hover {
  color: white;
}
