.jumbotron {
  padding-top: 200px !important;
  font-family: "Patrick Hand SC", cursive;
  background-color: #f0e6db !important;
}
.jumbotronImage {
  max-width: 100%;
  webkit-box-shadow: -31px 10px 27px -26px rgba(148, 143, 148, 1);
  -moz-box-shadow: -31px 10px 27px -26px #948f94;
  box-shadow: -31px 10px 27px -26px rgba(148, 143, 148, 1);
}

.jumbotron h2 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding-bottom: 50px;
  font-size: 3.6rem;
  line-height: 0.8;
}

body .buttonNav {
  color: white;
  width: 128px;
  background-color: crimson;
  border-radius: 63px;
  margin-left: 5px;
  text-align: center;
}
.buttonNav:hover {
  color: gray;
}
